<div class="bg-gradient-to-r min-h-screen grainy from-rose-100 to-teal-100">
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <h1 class="font-semibold text-7xl text-center">
      AI <span class="text-green-600 font-bold">note taking</span> assistant.
    </h1>
    <div class="mt-4"></div>
    <h2 class="font-semibold text-3xl text-center text-slate-700">
      <app-typewriter></app-typewriter>
    </h2>
    <div class="mt-8"></div>

    <div class="flex justify-center">
      <a routerLink="/dashboard">
        <button mat-fab extended>
          Get Started
          <mat-icon>arrow_right</mat-icon>
        </button>
      </a>
    </div>
  </div>
</div>
